extends templates/default

block content
  h1(class=['ui','header','blue'])= 'Tu ropa jamas estara tan limpia'
  if isAuthenticated
    div(class=['ui','container','grid','stackable'])
            h2(class=['ui','header','blue'])= 'Bienvenido:  ' + user.usuario + ' al sistema'
