extends ../templates/default

block content
  div(class='row')
    div(class='col-md-6 col-md-offset-3')
      div(class='panel panel-default')
        div(class='panel-heading')= 'Consultar Historial'
        div(class='panel-body')
          form(action='http://localhost:3000/users/cHistorial' method='post' autocomplete='off')
             div(class='form-group')
                    label(for="fInicio")= "Fecha inicial de busqueda"
                    input(type='text' name='fInicio' id='fInicio' placeholder='Año-Mes-Dia' class='form-control')
             div(class='form-group')
                    label(for="fFinal")= "Fecha final de busqueda"
                    input(type='text' name='fFinal' id='fFinal' placeholder='Año-Mes-Dia' class='form-control')   
              button(type="submit" class='btn btn-default')= 'Consultar '
          if cpedido
            table
                tr
                    th cpedido
                    th cpedido.usuario
                    th