extends ../templates/default

block content
  div(class='row')
    div(class='col-md-6 col-md-offset-3')
     div(class='panel panel-default')
       div(class='panel-heading')= 'Perfil' 
         form(action='' method='post')
           div(class='form-group')
             label(for="prenda")= 'Nombre: '+ user.nombre
           